.HomeGuest h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.secPad {
  padding: 60px 0;
}

section {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  padding: 3px 10px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  display: block;
}

.text-center {
  text-align: center;
}


#packages .row {
  margin-bottom: 20px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*Packages*/

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.cuadro_intro_hover {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 190px;
  margin-bottom: 20px;
}

.cuadro_intro_hover:hover .caption {
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
  z-index: 4;
}

.cuadro_intro_hover .caption {
  position: absolute;
  top: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.cuadro_intro_hover .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.cuadro_intro_hover .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top: -20px;
  width: 100%;
}

.caption-text p {
  color: #EBEBEB;
  line-height: 22px;
  margin: 0 0 10px;
}

.caption-text h3 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.bg-parlex {
  padding-top: 0px;
  background-image: url(../../../assets/images/banner-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.secPad {
  padding: 60px 0;
}

.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../../assets/images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}