.AuthForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 20px 20px;
  min-height: 100%;
  box-sizing: border-box;
}

.AuthForm form {
  width: 100%;
  max-width: 500px;
}

.password-wrapper {
  position: relative;
}

.password-eye {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.4em;
  color: #888;
  z-index: 2;
}

.password-input {
  padding-right: 2.5em;
}